.idea/
.vs/
.DS_Store
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# For this tiny project, there's no need to check this in since it'll just contain
# the file paths used for manual testing.
CSharpDocRewriter/Properties/launchSettings.json
